<app-header title="Education"></app-header>


<ion-content>
    <ion-item>
        <h6><b>Formación Academica y Profesional</b></h6>
    </ion-item>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle> <b>Universidad Pegagogica y Tecnologica de Colombia</b></ion-card-subtitle>
            <ion-card-subtitle>
                <ion-icon  name="md-school"></ion-icon>  Ingeniero de Sistemas y Computacion
            </ion-card-subtitle>
            <ion-card-subtitle>
                    <ion-icon  name="calendar"></ion-icon> 2013 - 2019
                </ion-card-subtitle>
        </ion-card-header>
    </ion-card>

    <ion-card>
            <ion-card-header>
                <ion-card-subtitle> <b>Universidad Industrial de Santander</b></ion-card-subtitle>
                <ion-card-subtitle>
                    <ion-icon  name="md-school"></ion-icon>  Tecnico en Sistemas
                </ion-card-subtitle>
                <ion-card-subtitle>
                        <ion-icon  name="calendar"></ion-icon> 2008 - 2009
                    </ion-card-subtitle>
            </ion-card-header>
        </ion-card>

        <ion-card>
                <ion-card-header>
                    <ion-card-subtitle> <b>Colegio Antonio Narino de Moniquira</b></ion-card-subtitle>
                    <ion-card-subtitle>
                        <ion-icon  name="md-school"></ion-icon>  Tecnico en Sistemas
                    </ion-card-subtitle>
                    <ion-card-subtitle>
                            <ion-icon  name="calendar"></ion-icon> 2000 - 2005
                        </ion-card-subtitle>
                </ion-card-header>
            </ion-card>
</ion-content>
<app-footer></app-footer>