<app-header title="Work Experince"></app-header>

<ion-content>
    <ion-item>
        <h6><b>Experiencia</b></h6>
    </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-title> <b>Junior Web Developer</b></ion-card-title>
      <ion-card-subtitle>Women's World Summit</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <h6 style="color:black">Desarrollando de página Web.</h6>
      <ion-item>
        <ion-icon name="calendar"></ion-icon>
        <ion-label>
          <h3>July 2019 - Actuality</h3>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-card-title> <b>Monitor Área de Telématica</b></ion-card-title>
        <ion-card-subtitle>Universidad Pedagógica y Tecnológica de Colombia</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <h6 style="color:black">Apoyo al cuerpo docente del área de Telématica.</h6>
        <ion-item>
          <ion-icon name="calendar"></ion-icon>
          <ion-label>
            <h3>Febrary 2018 - Actuality</h3>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
          <ion-card-title> <b>Ingeniero Encargado</b></ion-card-title>
          <ion-card-subtitle>Super Fibras Colombia</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <h6 style="color:black">Administración de la red de datos de Televisión e Internet.</h6>
          <ion-item>
            <ion-icon name="calendar"></ion-icon>
            <ion-label>
              <h3>Diciembre 2017 - Febrero 2018</h3>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

</ion-content>

<app-footer></app-footer>