<app-header title="Interests"></app-header>

<ion-content>
    <ion-item-group>
        <ion-item-divider>
            <ion-icon slot="start" name="tv"></ion-icon>
            <ion-label>Series and Movies</ion-label>
        </ion-item-divider>

        <ion-item>
            <ion-label>Mr Robot</ion-label>
        </ion-item>

        <ion-item>
            <ion-label>Games of Thrones</ion-label>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider>
            <ion-icon slot="start" name="football"></ion-icon>
            <ion-label>Sports</ion-label>
        </ion-item-divider>

        <ion-item>
            <ion-label>Running</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Formule One</ion-label>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
            <ion-item-divider>
                <ion-icon slot="start" name="md-school"></ion-icon>
                <ion-label>Academic</ion-label>
            </ion-item-divider>
    
            <ion-item>
                <ion-label>Desarrollo de Aplicaciones Web y Moviles</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Redes y Telecomunicaciones</ion-label>
            </ion-item>
        </ion-item-group>
</ion-content>

<app-footer></app-footer>