<app-header title="About"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">Computer and Systems Engineer</ion-card-subtitle>
      <ion-card-title class="ion-text-center"> <b style="color: black">ÁNGEL </b> <b style="color:brown">GUTIÉRREZ</b></ion-card-title>
      <ion-card-subtitle class="ion-text-center">(+57) 301 455-8556 · gutierrez.angel@uptc.edu.co</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <h3 class="ion-text-justify">Tengo experiencia en el área de diseño e implementación de redes de datos y
        televisión en fibra óptica.</h3>
    </ion-card-content>

    <ion-card-content>
      <h3 class="ion-text-justify">Actualmente me desempeño como Monitor del area de Telemática en la Universidad
        Pedagógica y Tecnológica de Colombia - UPTC, así mismo trabajo como developer Full Stack en el desarrollo de
        aplicación para la organización Women's World Summit en New York - USA.</h3>
    </ion-card-content>

    <ion-card-content>
      <h3 class="ion-text-justify">Mi interes es la adquisición de conocimientos de programación en diferentes framework
        para desarrollo de aplicaciones móviles como web. </h3>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="top" horizontal="start" slot="fixed" color="dark">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
        <ion-fab-button><ion-icon name="logo-google"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
        <ion-fab-button><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
        <ion-fab-button><ion-icon name="logo-github" hre></ion-icon></ion-fab-button>
      </ion-fab-list>
  </ion-fab>

  

</ion-content>

<app-footer></app-footer>