<app-header></app-header>

<ion-content fullscreen>
  <ion-card>
    <img src="../../assets/img/you.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Ingeniero de Sistemas y Computación</ion-card-subtitle>
      <ion-card-title>Ángel Gutiérrez Guerrero</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Descripción del sujeto.
    </ion-card-content>
  </ion-card>

  <ion-list>

    <ion-item button onclick="showDetail()">
      <ion-icon slot="start" name="md-person" style="color:blueviolet"></ion-icon>
      <ion-label>
        <h3>I'm</h3>
      </ion-label>
    </ion-item>

    <ion-item button onclick="showDetail()">
      <ion-icon slot="start" name="md-school" style="color:blue"></ion-icon>
      <ion-label>
        <h3>Studys</h3>
      </ion-label>
    </ion-item>

    <ion-item button onclick="showDetail()">
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-label>
        <h3>I'm</h3>
      </ion-label>
    </ion-item>

    <ion-item button onclick="showDetail()">
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-label>
        <h3>I'm</h3>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>