<ion-header>
  <ion-toolbar>
    <ion-item color="success">
      <ion-avatar>
        <img src="../../assets/img/you.jpg" alt="">
      </ion-avatar>
      <ion-title>Engineer Ángel Gutiérrez Guerrero</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="../../assets/img/you.jpg" />
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">Computer and Systems Engineer</ion-card-subtitle>
      <ion-card-title class="ion-text-center">Ángel Gutiérrez Guerrero</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item button routerLink="/about" routerDirection="root">
      <ion-icon slot="start" name="logo-freebsd-devil" style="color:red"></ion-icon>
      <ion-label>
        <h3>About Me</h3>
      </ion-label>
    </ion-item>

    <ion-item button routerLink="/work" routerDirection="root">
      <ion-icon slot="start" name="md-briefcase"></ion-icon>
      <ion-label>
        <h3>Work Experience</h3>
      </ion-label>
    </ion-item>

    <ion-item button routerLink="/study" routerDirection="root">
      <ion-icon slot="start" name="md-school"></ion-icon>
      <ion-label>
        <h3>Education</h3>
      </ion-label>
    </ion-item>

    <ion-item button routerLink="/skill" routerDirection="root">
      <ion-icon slot="start" name="logo-reddit"></ion-icon>
      <ion-label>
        <h3>Skills</h3>
      </ion-label>
    </ion-item>

    <ion-item button routerLink="/interest" routerDirection="root">
      <ion-icon slot="start" name="md-globe"></ion-icon>
      <ion-label>
        <h3>Interests</h3>
      </ion-label>
    </ion-item>

    <ion-item button routerLink="/achievement" routerDirection="root">
      <ion-icon slot="start" name="medal"></ion-icon>
      <ion-label>
        <h3>Achievements</h3>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>

